/* GENERAL CSS */
@font-face {
    font-family: 'infinityregular';
    src: url('../fonts/infinity-webfont.eot');
    src: url('../fonts/infinity-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/infinity-webfont.woff2') format('woff2'),
         url('../fonts/infinity-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body { background-image: url("../images/background.png"); background-repeat: repeat; overflow-x: hidden; font-family: sans-serif; font-size: 1em !important;}
a { color: black; text-decoration: none; }

/* MENU */
#menu {	background-color: white; width: 100%; }
.right { position: absolute; right: 0px; }
.button-success { background: rgb(28, 184, 65); color: white; border-radius: 0px; }

/* TORRENTS */
.pure-table-even { background: white; }
.category { color: white; font-family: infinityregular; font-size: 2em; margin: 8px 0px 8px 0px;}

table {
    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
}

table tr {
    padding: 5px;
}

table th, table td {
    padding: 10px;
}

table th {
    letter-spacing: 1px;
}

/* MEDIA */
.left {
	margin-left: 1em;
}

/* SMALL SCREEN FIXES */
@media only screen and (max-width: 600px) {
	#btns, #title {	display: none;}
	.pure-table-odd, .pure-table-even { padding: 0; }

    table.popular {
        border: 0;
    }

    table.popular  thead {
        display: none;
    }

    table.popular  tr {
        margin-bottom: 10px;
        display: block;
    }

    table.popular  tr:after {
        content: "";
        display: table;
        clear: both;
    }
  
    table.popular  tr:before {
        display: block;
        border-bottom: 2px solid #ddd;
    }

    table.popular  td {
        box-sizing: border-box;
        display: block;
        float: left;
        clear: left;
        width: 100%;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px dotted #ccc !important;
    }

    table.popular  td:last-child {
        border-bottom: 0;
    }

    table.popular  td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }

    .left {
    	margin-left: 0px;
    }
}