table {
    table-layout: fixed;
}

table th {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.link {
    color: gray;
    text-decoration: none;
}

small {
    color: gray;
}

tr { 
    margin-bottom: 0px !important;
}

/* Torrent Card Code */
@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table thead {
        display: none;
    }

    table tr {
        margin-bottom: 10px;
        display: block;
    }

    table tr:after {
        content: "";
        display: table;
        clear: both;
    }
  
    table tr:before {
        display: block;
        border-bottom: 2px solid #ddd;
    }

    table td {
        box-sizing: border-box;
        display: block;
        float: left;
        clear: left;
        width: 100%;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px dotted #ccc;
    }

    table td:last-child {
        border-bottom: 0;
    }

    table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
}