@font-face {
    font-family: 'infinityregular';
    src: url('../fonts/infinity-webfont.eot');
    src: url('../fonts/infinity-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/infinity-webfont.woff2') format('woff2'),
         url('../fonts/infinity-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body { background-image: url("../images/background.png"); background-repeat: repeat; overflow-x: hidden; font-family: sans-serif; font-size: 1em !important;}
.black {
	color: black;
}
.title {
	text-align: center;
	font-family: infinityregular !important;
	font-size: 8vw;
	color: white;
}
.search {
	color: black;
	background-color: white;
	font-size: 1em;
	font-weight: bold;
}
.pure-input-1-2{
	min-height: 1em;
	margin-bottom: 10px;
}
.card {
	width: 20%;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}
.card:hover {
    opacity: 0.5;
}
@media only screen and (max-width: 500px) {
	img {
		width: 100%;
	}
	.card {
		width: 40%;
	}
}