/* GENERAL CSS */
@font-face {
    font-family: 'infinityregular';
    src: url('../fonts/infinity-webfont.eot');
    src: url('../fonts/infinity-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/infinity-webfont.woff2') format('woff2'),
         url('../fonts/infinity-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body { background-image: url("../images/background.png"); background-repeat: repeat; overflow-x: hidden; font-family: sans-serif; font-size: 1em !important;}
a { color: black; text-decoration: none; }

/* MENU */
#menu {	background-color: white; width: 100%; }

/* TORRENTS */
.category { color: white; font-family: infinityregular; font-size: 2em; margin: 8px 0px 8px 0px;}

/* LOGIN */
#login {
    background-color: white;
    border-radius: 5px;
    padding: 1em 1em 1em 1em;
    margin-bottom: 50px;
}
.left {
    margin-left: 1em;
}


/* SMALL SCREEN FIXES */
@media only screen and (max-width: 600px) {
    .left {
        margin-left: 0px;
    }
    #login {
        border-radius: 0px;
    }
    #title { display: none;}
}