/* Barebone css */
html {
    background-image: url("../images/background.png");
    background-repeat: repeat;
}

a {
  color:inherit;
  text-decoration: none;
}
 
@font-face {
	font-family: infinity;
	src:url(../fonts/infinity.ttf);
}

/* Nav needs to be 45PX in edge and IE10*/
nav {
	height: 36px;
	background: white;
	width: 100%;
}

form {
	margin-bottom: 0;
	margin:0 auto;
	display:block;
	height: 100%;
}

p.category {
	padding-top: 3vh;
	padding-bottom: 1vh;
	margin: 0;
}

.category {
	color: white;
	font-size: 2em;
	font-family: infinity;
}

.pure-table {
	margin-top: 1vh;
	width: 80vw;
}

.pure-table-even {
	background: white;
}

.right {
	margin-left: 5px;
    text-align: right;
    float: right;
}

.container {
	padding-left: 2vw;
}

.uploader {
	font-size: 0.6em;
}

.button-success {
		background: rgb(28, 184, 65);
		color: white;
		border-radius: 0px;
}

#menu > li:last-child {
	width: 20vw;
}

td:last-child {
	font-weight: bold;
	color: red;
}

td:nth-last-child(2){
	font-weight: bold;
	color: green;
}

.pure-form-stacked label {
	margin: .5em 0 .2em;
}

.searches {
	padding-right: 1vw;
	float: right;
	width: 15vw;
}

tr.pure-table-odd.search td {	color: black; 	font-weight: normal;}
tr.pure-table-even.search td { color: black; 	font-weight: normal;}

/* FOOTER CSS */
footer {
	margin-top: 2em;
	height: 4em;
	background-color: white;
}
#bottom {
	font-family: infinity;
	font-size: 1.1em;
	font-weight: 900;
	padding-top: 1em;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#copyright {
	font-family: sans-serif;
	font-size: 0.6em;
	font-weight: normal;
}


/* Fix for small resolutions */
@media only screen and (max-width: 850px) {
	.searches {
		display: none;
	}
	.pure-table {
		width: 98%;
	}
}

/* FIX FOR MOBILE */
@media only screen and (max-width: 580px) {	
	.hidesmall {
		display: none;
	}
	
	.container {
		padding: 0;
		width: 100%;
	}
	
	.pure-table {
		width: auto;
		margin-top: 1vh;
	}
	
	nav {
		width: 100%;
	}
	
	p.categorie {
		padding-left: 2vw;
	}
	
	#menu > li:last-child {
		width: 25vw;
	}

}

@media only screen and (max-width: 460px) {
	.flow {
		overflow: scroll;
	}
}

/* FIX TOP BAR */
@media only screen and (max-width: 400px) {
	.pure-form{
		width: 60vw;
	}
	#loginbtn {
		display: none;
	}
	#uploadbtn {
		display: none;
	}
}