html {
    background-image: url("../images/background.png");
    background-repeat: repeat;
}

@font-face {
	font-family:infinity;
	src:url(../font/infinity.ttf);
}

/* SITENAME */
.sitename {
	padding-top: 2vh;
	padding-bottom: 1vh;
	text-align: center;
	vertical-align: middle;
	color: white;
	font-size: 9vw;
	font-family: infinity;
}

/* SEARCH */
form {
	text-align: center;
}

.pure-input-1-2 {
	height: 2.5em;
	font-size: 1.5em;
	margin: auto;
}

/* NAVIGATION */
nav {
	margin: auto;
	width: 50vw;
	padding-bottom: 2vh;
	padding-left: 1vw;
}

.card {
	display:inline-block;
    width: 12vw; 
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.card:hover {
    opacity: 0.5;
}

/* OVERLAY */
